{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:60px">追光吧，哥哥！</h1>
        </div>
    </div>

    <!--table-->
    <div class="card">
        <h2 class="card-body">当前比赛的哥哥们</h2>
        <div class="card-body">
            <table class="table table-hover table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">名字</th>
                        <th scope="col">身高</th>
                        <th scope="col">年龄</th>
                        <th scope="col">当前表演</th>
                        <th scope="col">选项</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in idols %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{row.name}}</td>
                        <td>{{ row.height }}</td>
                        <td>{{ row.age }}</td>
                        <td>{{ row.shows }}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal{{ row.id }}">编辑</button>
                            <a href="/delete/{{ row.id }}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
        <!--modal:编辑一位哥哥-->
        <div class="modal fade" id="editModal{{ row.id }}" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">更新</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-Label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('update') }}" method="POST">
                            <input type="hidden" name="id" value="{{ row.id }}">
                            <div class="form-group">
                                <label>名字: </label>
                                <input type="text" class="form-control" name="name" value="{{ row.name }}">
                            </div>
                            <div class="form-group">
                                <label>身高: </label>
                                <input type="text" class="form-control" name="height" value="{{ row.height }}">
                            </div>
                            <div class="form-group">
                                <label>年龄: </label>
                                <input type="text" class="form-control" name="age" value="{{ row.age }}">
                            </div>
                            <div class="form-group">
                                <label>Show: </label>
                                <input type="text" class="form-control" name="shows" value="{{ row.shows }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addNew">添加一位哥哥</button>
        </div>
    </div>

    <!--modal:添加一位哥哥-->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">添加一位哥哥</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-Label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('insert') }}" method="POST">
                            <div class="form-group">
                                <label>名字: </label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>身高: </label>
                                <input type="text" class="form-control" name="height">
                            </div>
                            <div class="form-group">
                                <label>年龄: </label>
                                <input type="text" class="form-control" name="age">
                            </div>
                            <div class="form-group">
                                <label>Show: </label>
                                <input type="text" class="form-control" name="shows">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}